body {
    padding : 0 ;
    margin : 0 ;
    background-color: rgb(55 64 64)
}

nav footer .article {
    background-color: rgb(85, 91, 91);
}

main {
    padding: 2rem;
    background-color: rgb(88 120 120);
    border-top: solid black 2px;
}

@font-face {
    font-family:beantown;
    src: url(../assets/Beantown.ttf);
}

@font-face {
    font-family:negaspace;
    src: url(../assets/NegativeSpace.ttf);
}

@font-face {
    font-family:octin-college;
    src: url(../assets/octin-college.otf);
}
@font-face {
    font-family:octin-sports;
    src: url(../assets/octin-sports.otf);
}
@font-face {
    font-family:playball-regular;
    src: url(../assets/Playball-Regular.ttf);
}
@font-face {
    font-family:streetwear;
    src: url(../assets/Streetwear.otf);
}


.titre1 {
    font-family: beantown;
    color: blanchedalmond;
}

.titre2 {
    font-family:negaspace;
    color: blanchedalmond;
}

.titre3 {
    font-family: octin-college;
    color: blanchedalmond;

}

.titre4 { 
    font-family:octin-sports;
    color: blanchedalmond;
}

.titre5 {
    font-family:playball-regular;
    color: blanchedalmond;
}

.titre6 {
    font-family: streetwear;
    color: blanchedalmond;
}

img {
    width:  8rem;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    font-family: playball-regular;
    text-transform: uppercase;
    color: rgb(190, 176, 209);
}

li {
    padding: 0 5em 0 5em;
    border-left: 2px ;
    border-right:2px ;
}

li:first-child {
    order: -1;
}

.vêtements {
    display: flex;
}

a {
    color: rgb(190, 176, 209);
    text-decoration: none;
}

.article {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;

}