body {
    padding : 0 ;
    margin : 0 ;
    background-color: rgb(193, 193, 184);
}

nav {
    background-color: aqua;
}

main {
    padding: 2rem;
    background-color: rgb(193, 193, 184);
}

footer {
    background-color: chartreuse;
}

.article {
    background-color: rgb(193, 193, 184);
}

.titre {
    background-color: cornflowerblue;
    border:solid 1px black ;
    padding: 3px;
}
img {
    width:  8rem;
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

li:first-child {
    order: -1;
}

.vêtements {
    display: flex;
}

.article {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;

}